{% extends 'admin/admin_base.html.twig' %}

{% block title %}Admin Panel{% endblock %}

{% block body %}
    <h1>Admin panel</h1>
    <div class="mt-4">
        <p class="lead">This is the admin panel of the website.</p>
        <p class="lead">Here, admins can change data about posts, tags and users.</p>
    </div>
{% endblock %}
