{% extends 'admin/admin_base.html.twig' %}

{% block title %}
    {{ 'admin_panel'|trans({}, null, app.session.get('_locale', 'en')) }}
{% endblock %}

{% block body %}
    <h1>
        {{ 'admin_panel'|trans({}, null, app.session.get('_locale', 'en')) }}
    </h1>
    <div class="mt-4">
        <p class="lead">
            {{ 'admin_panel_text_1'|trans({}, null, app.session.get('_locale', 'en')) }}
        </p>
        <p class="lead">
            {{ 'admin_panel_text_2'|trans({}, null, app.session.get('_locale', 'en')) }}
        </p>
    </div>
{% endblock %}
