{% extends 'base.html.twig' %}

{% block bread %}
    → Login
{% endblock %}

{% block body %}
    <form action="{{ path('app_login') }}" method="POST">
        <div class="mb-3">
            <label for="username" class="form-label">Email</label>
            <input
                    type="text"
                    id="username"
                    name="_username"
                    value="{{ lastUsername }}"
                    class="form-control" />
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input
                    type="password"
                    id="password"
                    name="_password"
                    class="form-control" />
        </div>

        <input type="hidden" name="_target_path" value="/" />

        <div>
            <button type="submit" class="btn btn-primary w-100 mt-2 mb-2">Login</button>
        </div>
    </form>

    <div class="mt-2 text-center">
        Don't have an account? <a href="{{ path('app_register') }}" class="text-decoration-none">Register here</a>
    </div>
{% endblock %}
