{% embed 'shared/_tabs.html.twig' %}
    {% block tabs %}
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            {% embed 'shared/_tab.html.twig' with { route: 'app_post' } only %}
                {% block content %}
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="all-posts-tab" data-toggle="tab" href="#allPosts" role="tab" aria-controls="allPosts" aria-selected="true">
                            {{ 'posts.all'|trans_session|capitalize }}
                        </a>
                    </li>
                {% endblock %}
                {% block path %}{% endblock %}
            {% endembed %}
        </ul>
    {% endblock %}
{% endembed %}
