{% extends 'base.html.twig' %}

{% block title %}Editing an Existing Post{% endblock %}

{% block bread %}
    → <a href="{{ path('app_post_show', {slug: post.slug}) }}">Post</a> → Edit
{% endblock %}

{% block body %}
    {{ include ('post/_form.html.twig') }}
{% endblock %}
