{% extends 'base.html.twig' %}

{% block title %}
    {{ 'posts.all'|trans_session|title }}
{% endblock %}

{% block body %}
    <div class="filter-container my-3 d-flex justify-content-between">
        <div class="form-group col-6 px-0">
            <input type="text" id="titleFilter" class="form-control" placeholder="Filter by title..." />
        </div>
        {% if is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_ADMIN') %}
            <div class="mx-2">
                <a href="{{ path('app_post_create') }}" class="text-decoration-none">
                    <button class="btn btn-light text-primary border border-primary">
                        {{ 'post.add_new'|trans_session|title }}
                    </button>
                </a>
            </div>
        {% endif %}
    </div>

    <div class="justify-content-center" id="spinner-container">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div id="postsContainer" class="row"></div>
    <div id="paginationContainer" class="d-flex justify-content-end"></div>
{% endblock %}

{% block body_javascripts %}
    <script src="{{ asset('js/posts-management.js') }}" defer></script>

{% endblock %}
