<div class="mr-2">
    {% if profile.image %}
        <img src="{{ asset(images_public_path ~ 'profile_images/' ~ profile.image) }}"
             style="width: {{size}}px;"
             class="d-inline-block rounded-circle border border-2 border-white"
             alt="Profile image"
        />
    {% else %}
        <img src="{{ asset(images_public_path ~ 'profile_images/default_user.jpg') }}"
             style="width: {{size}}px;"
             class="d-inline-block rounded-circle border border-2 border-white"
             alt="Default image"
        />
    {% endif %}
</div>
